@font-face {
  font-family: "fontCinema";
  src: url("../assets/font/Pony.ttf");
}

.app {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/bgmovie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.cinema {
  font-family: "fontCinema";
  padding: 20px 0;
  text-align: center;
  color: white;
  font-size: 25px;
}

.result {
  font-family: "fontCinema";
  padding: 20px 0;
  text-align: center;
  color: white;
  font-size: 25px;
}

.title {
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.screen {
  width: 80%;
  height: 50px;
  background-color: rgb(250, 167, 0);
  border-radius: 100px;
  font-size: 22px;
  color: black;
  line-height: 50px;
  margin: 20px auto;
}

.ghe {
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.gheDuocChon {
  background: orange;
  color: #000;
  cursor: no-drop !important;
}

.rowNumber {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  color: white;
}

.firstChar {
  transform: translateY(5px);
  background: none;
  border: none;
  color: white;
  width: 45px;
  height: 35px;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.type {
  margin-top: 20px;
}

.type span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
}

.table {
  font-size: 18px;
  font-weight: normal;
}
